.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 1rem;
    color: white;
  }
  
  .navbar-logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navbar-search input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  
  .navbar-buttons button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-buttons button:hover {
    background-color: #21a1f1;
  }
  
  .navbar-logo {
    font-size: 24px; /* Adjust font size as needed */
    color: #ffcc00; /* Your desired text color */
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00;
}